@import url(https://fonts.googleapis.com/css?family=Play:400,700);

font-family:'Play',sans-serif !important;

/* REMOVE MFL DEFAULT MENU */
#menu0 {
    display:none!important;
}

/* START NEW MENU CONTAINER */
#menucontainer {
    background: none;
    margin: 0 auto;
    width: auto;  
    display:block;
    text-align:center;
    position:absolute;
    left:0;
    right:0;
    top:2px;
    z-index:9999;
} 
#menu {
    display:inline-block;
    padding:0;margin:0;
}

ul.pureCssMenu.pureCssMenu{
    background:url(http://nitrografixx.com/PTD2013/img/tab_cap.jpg)center;
    border:1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
}
ul.pureCssMenu span{
    overflow:hidden;
}
ul.pureCssMenu li {
    float:left;
}
ul.pureCssMenu ul li {
    float:none;
}
ul.pureCssMenu ul a {
    text-align:left;
    white-space:nowrap;
}
ul.pureCssMenu li:hover{
    position:relative;
}
ul.pureCssMenu ul{
    display:none;
}
ul.pureCssMenu li:hover>ul{
    display:block;
}
ul.pureCssMenu ul{
    position: absolute;
    left:-1px;
    top:98%;
}
ul.pureCssMenu ul ul{
    position: absolute;
    left:98%;
    top:-2px;
}
ul.pureCssMenu,ul.pureCssMenu ul {
    margin:0px;
    list-style:none;
    padding:0px 2px 2px 0px;
    z-index:1;
}
ul.pureCssMenu table {
    border-collapse:collapse;
}
ul.pureCssMenu {
    display:block;
    zoom:1;
    float: left;
}
ul.pureCssMenu li{
    display:block;
    margin:2px 2px 0px 2px;
    font-size:0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
    outline-style:none;
}
ul.pureCssMenu a {
    display:block;
    vertical-align:middle;
    background-color:#fff;
    border-width:1px;
    border-color:#ddd;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:2px 5px 2px 5px;
    _padding-left:0;
    font-family:'Play',sans-serif !important;
    font-weight:normal;
    font-size:8pt;
    color: #000;
    text-decoration:none;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing:1px;
}
ul.pureCssMenu li:hover>a{
    color:#FFFFFF;
    background-color:#ee4f20;
}


/* IMAGES SETTINGS FOR MAIN MENU */
ul.pureCssMenu span{
    display:block;
    background-image:url(http://nitrografixx.com/habman_dynamic_menu/arr_orange.png);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:12px;
}
ul.pureCssMenu li:hover a span{	
    background-image:url(http://nitrografixx.com/habman_dynamic_menu/arrv_white.png);
}


/* IMAGES SETTINGS FOR SUB MENU */
ul.pureCssMenu.pureCssMenum div.subcontainer span{
    display:block;
    background-image:url(http://nitrografixx.com/habman_dynamic_menu/arr_orange.png);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:12px;
}
ul.pureCssMenu.pureCssMenum div.subcontainer li:hover>a>span{	
    background-image:url(http://nitrografixx.com/habman_dynamic_menu/arr_white.png);
}


/* SETTINGS FOR SUB MENUS */
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum {
    padding-top:5px;
    background:url(http://nitrografixx.com/habman_dynamic_menu/iefix_bg.png);
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum .subcontainer {
    background:#FFFFFF;
    border:1px solid #ee4f20;
    padding:0px 0px 2px 0px;
    margin:0px;
    width:auto;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.pureCssMenui a.pureCssMenui {
    border:none;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum a {
    text-transform:none;
    font-size:9pt;
    color:#000000;
    font-variant:small-caps
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.pureCssMenui:hover>a{
    background-color:#ee4f20;
    color:#FFFFFF;
}


/* SETTINGS FOR SUB MENU RIGHT FLYOUT */
ul#menu ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.pureCssMenui  ul.pureCssMenum {
    background:url(http://nitrografixx.com/habman_dynamic_menu/iefix_bg.png);
    margin-top:-1px;
    padding:0px 2px 0px 6px;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum .subcontainerfly {
    background:#FFFFFF;
    border:1px solid #ee4f20;
    padding:0px 0px 2px 0px;
    margin:0px;
    width:auto;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.pureCssMenui  ul.pureCssMenum a{
    color:#000000;
    background:#FFFFFF;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.pureCssMenui  ul.pureCssMenum a:hover{
    background-color:#ee4f20;
    color: #FFFFFF;
}

/* REPORTS PLAYER SEARCH INPUT SETTINGS */
ul#menu ul li ul div li a span form input {
    font-size:10px;
    color:#ee4f20;
    padding:0;
    margin-left:4px;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.search a.search  {
    background:none;
    border:none;
    padding-right:0;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.search a.search:hover  {
    background:none;
    border:none;
}
ul.pureCssMenu.pureCssMenum li.pureCssMenui ul.pureCssMenum div.subcontainer li.search a.search span {
    background-image:none;
    padding:0;
}